<div class="blogpost">
	 <h2><%= link_to blogpost.title, blogpost %> </h2>
	 <h5>Posted <%= time_ago_in_words(blogpost.created_at) %> ago by: <%= link_to blogpost.user.name, blogpost.user %> </h5>
	 <p><%= simple_format blogpost.content %> </p>
	 <% if blogpost.created_at != blogpost.updated_at %>
	 	<div><h6>Updated <%= time_ago_in_words(blogpost.updated_at) %> ago.</h6></div>
	 <% end %>
	 <% if admin_user? %>
		 <%= link_to "Edit", edit_blogpost_path(blogpost), :class => "btn btn-default" %>
		 <%= link_to "Delete", blogpost, :class => "btn btn-danger", method: :delete, data:{ confirm: "Are you sure you want to delete this beautiful post?" } %>
	 <% end %>
</div>