<% provide(:title, @blogpost.title) %>
<%= render @blogpost %>
<div>
	<h3>Comment section (<%= @blogpost.blogcomments.count %>)</h3>
	<% unless logged_in? %>
		<div class="alert"> 
			Please log in if you'd like to comment.
		</div>
	<% end %>
	<%= render 'shared/blogcomment_form' %>
	<% if @blogpost.blogcomments.any? %>
		<ul class="media-list">
			<%= render @blogcomments %>
		</ul>
		<%= will_paginate @blogcomments %>
	<% end %>
</div>