<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGNI KAI | <%= content_for?(:title) ? yield(:title) : "" %></title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body style="background-color:#FFE1FF">

    <header class="navbar navbar-fluid-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">AGNI KAI</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li> <%= link_to "Home", root_path %> </li>
              <li> <%= link_to "Movies", movies_path  %> </li>
              <li> <%= link_to "Users", users_path  %> </li>
              <li> <%= link_to "Kittens", kittens_path %> </li>
            </ul>
            <div class ="nav pull-right">
               <%= link_to "Login", "#", class: "btn btn-default"%> 
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <div class="container">

      <div class="row-fluid">


        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>

                 <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"> Are you a kitten?  </li> 
                  <p style="color:blue">Yes;  <%= link_to "Nice Register", "#" %> </p>
                  <p style="color:red"> No; <%= link_to "Regular Register", "#" %> </p>
                 <li style="color:purple"> Dogs are allowed only on a leash.</li>
            </ul>
         </div><!--/.well -->
        </div><!--/span-->


      </div><!--/row-->

      <footer class="footer">
        <small>
                AGNI KAI&copy; by Liron & A 2014
         </small>
      <nav>
        <ul>
              <li> <%= link_to "About", about_path %> </li>
              <li> <%= link_to "Help", help_path %> </li>
              <li> <%= link_to "Contact", "#" %> </li>
        </ul>
      </nav>
      </footer>

    </div> <!-- /container -->



  </body>
</html>
